[alias]
    # short command
    b = branch
    c = commit -am
    st = status
    stt = status -uno
    co = checkout
    cob = checkout -b

    # show staged and not staged status without untracked files
    tree = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'

    # pretty graph
    graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'

    # word diff
    difff = diff --word-diff

    # pysh current branch
    pushthis = !git push origin `git rev-parse --abbrev-ref HEAD`

[core]
    excludesfile = ~/.gitignore_global

[user]
    name = tinoji
    email = pot5.sunen.on.the.earth.614@gmail.com

[commit]
    template = ~/.stCommitMsg

[credentinal]
    helper = osxkeychain

